# JAY BAKSHI : UB ID - 50206954

#### Read the data from CSV file

In [1]:
data <- read.csv("datasets/german_credit_data1.csv")

#### A quick view on the data and the column names especially.

In [2]:
head(data)

  X. Age Sex    Job Housing Saving.accounts Checking.account Credit.amount
1 0  67  male   2   own     NA              little           1169
2 1  22  female 2   own     little          moderate         5951
3 2  49  male   1   own     little          NA               2096
4 3  45  male   2   free    little          little           7882
5 4  53  male   2   free    little          little           4870
6 5  35  male   1   free    NA              NA               9055
  Duration Purpose             Credit.Risks
1  6       radio/TV            1
2 48       radio/TV            2
3 12       education           1
4 42       furniture/equipment 1
5 24       car                 2
6 36       education           1

#### K-nn algorithm needs all numeric data to work, so converting any and all of the columns with non-numeric data to numeric, one-by-one.

In [3]:
data$Sex <- as.numeric(data$Sex)

In [4]:
data$Housing <- as.numeric(data$Housing)

In [5]:
data$Saving.accounts <- as.numeric(data$Saving.accounts)

In [6]:
data$Checking.account <- as.numeric(data$Checking.account)

In [7]:
data$Purpose <- as.numeric(data$Purpose)

In [8]:
head(data)

  X. Age Sex Job Housing Saving.accounts Checking.account Credit.amount
1 0  67  2   2   2       NA               1               1169
2 1  22  1   2   2        1               2               5951
3 2  49  2   1   2        1              NA               2096
4 3  45  2   2   1        1               1               7882
5 4  53  2   2   1        1               1               4870
6 5  35  2   1   1       NA              NA               9055
  Duration Purpose Credit.Risks
1  6       6       1
2 48       6       2
3 12       4       1
4 42       5       1
5 24       2       2
6 36       4       1

#### Converting all NA data points across data set to 0. This will ensure no error related "values allowed" in K-nn and at the same time leave the data pattens unchanged as such.

In [9]:
data[is.na(data)] <- 0

In [10]:
head(data)

  X. Age Sex Job Housing Saving.accounts Checking.account Credit.amount
1 0  67  2   2   2       0               1                1169
2 1  22  1   2   2       1               2                5951
3 2  49  2   1   2       1               0                2096
4 3  45  2   2   1       1               1                7882
5 4  53  2   2   1       1               1                4870
6 5  35  2   1   1       0               0                9055
  Duration Purpose Credit.Risks
1  6       6       1
2 48       6       2
3 12       4       1
4 42       5       1
5 24       2       2
6 36       4       1

#### number of rows in the dataset

In [11]:
n.points <- 1000
sampling.rate <- 0.8

#### calculating the number of points in the test set to calculate the miscalculation rate

In [12]:
num.test.set.labels <- n.points * (1 - sampling.rate)

In [13]:
num.test.set.labels

[1] 200

#### randomly sample which rows will go in the training set

In [14]:
training <- sample(1:n.points, sampling.rate * n.points, replace = FALSE)

In [15]:
train <- subset(data[training, ], select = c(Age,Sex,Job,Housing,Saving.accounts,Checking.account,Credit.amount,Duration,Purpose,Credit.Risks))

In [16]:
head(train)

    Age Sex Job Housing Saving.accounts Checking.account Credit.amount Duration
467 29  1   1   3       1               1                1659          24
195 21  2   2   3       2               2                3031          45
358 26  2   3   2       1               0                4463          36
304 49  2   2   2       1               1                1038          10
439 65  2   0   2       1               1                3394          42
759 31  2   2   2       1               0                1393          24
    Purpose Credit.Risks
467 6       2
195 6       2
358 6       2
304 2       1
439 7       1
759 2       1

#### Define the training set to be those rows

#### The other rows are going into the test set

In [17]:
testing <- setdiff(1:n.points, training)

#### Define the test set to be the other rows

In [18]:
test <- subset(data[testing, ], select = c(Age,Sex,Job,Housing,Saving.accounts,Checking.account,Credit.amount,Duration,Purpose,Credit.Risks))

In [19]:
cl <- data$Credit.Risks[training]

#### This is the subset of labels for the training set

In [20]:
true.labels <- data$Credit.Risks[testing]

#### subset of labels for the test set, we're withholding these

In [21]:
install.packages("FNN", repos = "https://cran.r-project.org/")

Installing package into 'C:/Users/Jay/Documents/R/win-library/3.3'
(as 'lib' is unspecified)

package 'FNN' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Jay\AppData\Local\Temp\RtmpQTsE48\downloaded_packages

In [22]:
library(FNN)

Warning message:
"package 'FNN' was built under R version 3.3.3"

#### Compute and print the misclassification rate with our sampling rate being 0.8 <br\> i.e. Training Data to Test Data split is 80-20

In [23]:
datalist8 = list()
for(k in 1:20){
    predicted.labels <- knn(train, test, cl, k)
    num.incorrect.labels <- sum(predicted.labels != true.labels)
    misclassification.rate <- num.incorrect.labels / num.test.set.labels
    datalist8[[k]] <- c(k, misclassification.rate)
}
result8 <- data.frame(do.call(rbind, datalist8))
colnames(result8) <- c("k", "Misclassification.Rate-80")
result8

   k  Misclassification.Rate-80
1   1 0.400
2   2 0.360
3   3 0.435
4   4 0.380
5   5 0.415
6   6 0.375
7   7 0.380
8   8 0.380
9   9 0.385
10 10 0.375
11 11 0.390
12 12 0.365
13 13 0.380
14 14 0.355
15 15 0.350
16 16 0.360
17 17 0.355
18 18 0.350
19 19 0.355
20 20 0.355

Repeating everything for Sampling Rate 0.9

In [24]:
sampling.rate <- 0.9
num.test.set.labels <- n.points * (1 - sampling.rate)

training <- sample(1:n.points, sampling.rate * n.points, replace = FALSE)
train <- subset(data[training, ], select = c(Age,Sex,Job,Housing,Saving.accounts,Checking.account,Credit.amount,Duration,Purpose,Credit.Risks))

testing <- setdiff(1:n.points, training)
test <- subset(data[testing, ], select = c(Age,Sex,Job,Housing,Saving.accounts,Checking.account,Credit.amount,Duration,Purpose,Credit.Risks))

cl <- data$Credit.Risks[training]
true.labels <- data$Credit.Risks[testing]

datalist9 = list()
for(k in 1:20){
    predicted.labels <- knn(train, test, cl, k)
    num.incorrect.labels <- sum(predicted.labels != true.labels)
    misclassification.rate <- num.incorrect.labels / num.test.set.labels
    datalist9[[k]] <- c(k, misclassification.rate)
}
result9 <- data.frame(do.call(rbind, datalist9))
colnames(result9) <- c("k", "Misclassification.Rate-90")
result9

   k  Misclassification.Rate-90
1   1 0.38
2   2 0.30
3   3 0.39
4   4 0.32
5   5 0.33
6   6 0.25
7   7 0.26
8   8 0.26
9   9 0.27
10 10 0.30
11 11 0.27
12 12 0.28
13 13 0.28
14 14 0.28
15 15 0.29
16 16 0.29
17 17 0.28
18 18 0.29
19 19 0.29
20 20 0.29

Repeating everything for Sampling Rate 0.7

In [25]:
sampling.rate <- 0.7
num.test.set.labels <- n.points * (1 - sampling.rate)

training <- sample(1:n.points, sampling.rate * n.points, replace = FALSE)
train <- subset(data[training, ], select = c(Age,Sex,Job,Housing,Saving.accounts,Checking.account,Credit.amount,Duration,Purpose,Credit.Risks))

testing <- setdiff(1:n.points, training)
test <- subset(data[testing, ], select = c(Age,Sex,Job,Housing,Saving.accounts,Checking.account,Credit.amount,Duration,Purpose,Credit.Risks))

cl <- data$Credit.Risks[training]
true.labels <- data$Credit.Risks[testing]

datalist7 = list()
for(k in 1:20){
    predicted.labels <- knn(train, test, cl, k)
    num.incorrect.labels <- sum(predicted.labels != true.labels)
    misclassification.rate <- num.incorrect.labels / num.test.set.labels
    datalist7[[k]] <- c(k, misclassification.rate)
}
result7 <- data.frame(do.call(rbind, datalist7))
colnames(result7) <- c("k", "Misclassification.Rate-70")
result7

   k  Misclassification.Rate-70
1   1 0.4466667
2   2 0.3433333
3   3 0.3966667
4   4 0.3533333
5   5 0.3866667
6   6 0.3366667
7   7 0.3566667
8   8 0.3466667
9   9 0.3566667
10 10 0.3400000
11 11 0.3466667
12 12 0.3366667
13 13 0.3366667
14 14 0.3266667
15 15 0.3333333
16 16 0.3366667
17 17 0.3366667
18 18 0.3300000
19 19 0.3366667
20 20 0.3400000

Repeating everything for Sampling Rate 0.6

In [26]:
sampling.rate <- 0.6
num.test.set.labels <- n.points * (1 - sampling.rate)

training <- sample(1:n.points, sampling.rate * n.points, replace = FALSE)
train <- subset(data[training, ], select = c(Age,Sex,Job,Housing,Saving.accounts,Checking.account,Credit.amount,Duration,Purpose,Credit.Risks))

testing <- setdiff(1:n.points, training)
test <- subset(data[testing, ], select = c(Age,Sex,Job,Housing,Saving.accounts,Checking.account,Credit.amount,Duration,Purpose,Credit.Risks))

cl <- data$Credit.Risks[training]
true.labels <- data$Credit.Risks[testing]

datalist6 = list()
for(k in 1:20){
    print(k)
    predicted.labels <- knn(train, test, cl, k)
    num.incorrect.labels <- sum(predicted.labels != true.labels)
    misclassification.rate <- num.incorrect.labels / num.test.set.labels
    print(misclassification.rate)
    datalist6[[k]] <- c(k, misclassification.rate)
}
result6 <- data.frame(do.call(rbind, datalist6))
colnames(result6) <- c("k", "Misclassification.Rate-60")
result6

[1] 1
[1] 0.36
[1] 2
[1] 0.34
[1] 3
[1] 0.375
[1] 4
[1] 0.3525
[1] 5
[1] 0.365
[1] 6
[1] 0.3275
[1] 7
[1] 0.33
[1] 8
[1] 0.315
[1] 9
[1] 0.3175
[1] 10
[1] 0.31
[1] 11
[1] 0.3075
[1] 12
[1] 0.3025
[1] 13
[1] 0.3025
[1] 14
[1] 0.3025
[1] 15
[1] 0.305
[1] 16
[1] 0.3075
[1] 17
[1] 0.31
[1] 18
[1] 0.3075
[1] 19
[1] 0.3125
[1] 20
[1] 0.32

   k  Misclassification.Rate-60
1   1 0.3600
2   2 0.3400
3   3 0.3750
4   4 0.3525
5   5 0.3650
6   6 0.3275
7   7 0.3300
8   8 0.3150
9   9 0.3175
10 10 0.3100
11 11 0.3075
12 12 0.3025
13 13 0.3025
14 14 0.3025
15 15 0.3050
16 16 0.3075
17 17 0.3100
18 18 0.3075
19 19 0.3125
20 20 0.3200

### All Results collated below

In [27]:
result <- cbind(result6, result7, result8, result9)
result <- result[,c(1,2,4,6,8)]
result

   k  Misclassification.Rate-60 Misclassification.Rate-70
1   1 0.3600                    0.4466667
2   2 0.3400                    0.3433333
3   3 0.3750                    0.3966667
4   4 0.3525                    0.3533333
5   5 0.3650                    0.3866667
6   6 0.3275                    0.3366667
7   7 0.3300                    0.3566667
8   8 0.3150                    0.3466667
9   9 0.3175                    0.3566667
10 10 0.3100                    0.3400000
11 11 0.3075                    0.3466667
12 12 0.3025                    0.3366667
13 13 0.3025                    0.3366667
14 14 0.3025                    0.3266667
15 15 0.3050                    0.3333333
16 16 0.3075                    0.3366667
17 17 0.3100                    0.3366667
18 18 0.3075                    0.3300000
19 19 0.3125                    0.3366667
20 20 0.3200                    0.3400000
   Misclassification.Rate-80 Misclassification.Rate-90
1  0.400                     0.38
2  0.360                     0.30
3  0.435                     0.39
4  0.380                     0.32
5  0.415                     0.33
6  0.375                     0.25
7  0.380                     0.26
8  0.380                     0.26
9  0.385                     0.27
10 0.375                     0.30
11 0.390                     0.27
12 0.365                     0.28
13 0.380                     0.28
14 0.355                     0.28
15 0.350                     0.29
16 0.360                     0.29
17 0.355                     0.28
18 0.350                     0.29
19 0.355                     0.29
20 0.355                     0.29